<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AyM - Añadir Productos</title>
</head>
<body>
    <h1>Editar Producto Existente</h1>
    <p>Complete los siguientes datos para guardar correctamente el producto al inventario OFICIAL:</p>

    <form method="POST">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        <br />
        <button type="submit">Guardar Producto en Bodega</button>
    </form>
    <br />
    <a href="{% url 'lista_prods' %}">Volver al Inventario Total</a>
    
</body>
</html>