{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A&M</title>
    <link rel="stylesheet" href="{% static 'aym/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Geologica:wght,CRSV@100..900,0&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="headerCont">
    <header>
    <img src="{% static 'aym/A&M.png' %}" alt="LOGO" width="250px">
      <h1 class="indeh1">Inventario A&M</h1>

    <nav>
      <strong>Filtrar por categoría:</strong>
      <a href="/aym/productos/" class="FiltrarCate">Todos</a> |
      <a href="/aym/productos/?cat=ESCOLAR" class="FiltrarCate">Útiles Escolares</a> |
      <a href="/aym/productos/?cat=ALIMENTO" class="FiltrarCate">Colaciones</a> |
      <a href="/aym/productos/?cat=BAZAR" class="FiltrarCate">Bazar</a> |
      <a href="{% url 'crear_prod' %}" class="FiltrarCate">Crear Producto</a>
    </nav>
    <form method="GET" class="busqueda">
    
    {% if categoria_actual %}
        <input type="hidden" name="cat" value="{{ categoria_actual }}">
    {% endif %}

    <input type="text" name="q" class="buscar" value="{{ busqueda_actual }}" placeholder="Buscar producto por nombre...">
    <button type="submit" class="btnBus">Buscar</button>
    
    <a href="{% url 'lista_prods' %}" class="filtro">Limpiar Filtros</a>
    </form>
    <div class="orden">
    <strong>Ordenar por:</strong>
    <a href="?order=nombre_az{% if busqueda_actual %}&q={{ busqueda_actual }}{% endif %}{% if categoria_actual %}&cat={{ categoria_actual }}{% endif %}">Nombre (A-Z)</a> | 
    <a href="?order=nombre_za{% if busqueda_actual %}&q={{ busqueda_actual }}{% endif %}{% if categoria_actual %}&cat={{ categoria_actual }}{% endif %}">Nombre (Z-A)</a> | 
    <a href="?order=precio_asc{% if busqueda_actual %}&q={{ busqueda_actual }}{% endif %}{% if categoria_actual %}&cat={{ categoria_actual }}{% endif %}">Precio: Menor a Mayor</a> | 
    <a href="?order=precio_desc{% if busqueda_actual %}&q={{ busqueda_actual }}{% endif %}{% if categoria_actual %}&cat={{ categoria_actual }}{% endif %}">Precio: Mayor a Menor</a>
    </div>
    </header>
    </div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Categoría</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for prod in lista %}
        <tr>
          <td>{{ prod.nombre }}</td>
          <td>
            {% if prod.precio > 0 %} ${{ prod.precio }} {% else %} No hay precio
            disponible {% endif %}
          </td>
          <td>
            {% if prod.stock <= 5 %}
            <p class="bajoSto">
              {{ prod.stock }} (¡Stock Bajo!)
            </p>
            {% else %} {{ prod.stock }} {% endif %}
          </td>
          <td>{{ prod.get_categoria_display }}</td>

          <td>
            <button class="btnEdi">
              <a href="{% url 'editar_prod' prod.id %}" >Editar</a>
            </button>
          </td>
          <td>
            <button class="btnEli">
              <a href="{% url 'eliminar_prod' prod.id %}">Eliminar</a>
            </button>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td class="noProd" colspan="6">
            <strong>No hay productos registrados en el inventario.</strong>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
