body{
  font-family: "Quantico";
  background-image: url(nubes.jpg);
  justify-items: center;
}

h1{
    text-align: center;
    font-size: 37px; 
}

form{
    padding: 7px;
}

img{
position:absolute;
left:50px;
top:-35px;
z-index:1;
}
p{
    text-align: center;
}

form{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: px;
}

table {
  margin: auto;
  background-color: rgb(255, 255, 255);
}

table caption {
  font-size: 30px;
  margin: auto 0;
}

table,th,tr,td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}
div{
    justify-items: center;
}
div a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px;
    color: black;
    width: fit-content;
}

a:hover{
    background-color: rgb(254, 254, 254); 
    transition: 0.5s;
}

.C_Evolver{
    border-radius: 20px;
}

/* ELIMINAR */


.eliminarF{
    background-color: rgb(0, 0, 0);
    max-width: 80%;
    padding: 1px 0px;
    margin: 0;
    color: white;
}

.btnE_V{
    text-decoration: none;
    border: 1px solid;
    border-radius: 15px;
    padding: 4px;
    color: black;
}

.btnEliminar{
    text-decoration: none;
    color: red;
    background-color: red; 
    color: white;
}

.btnEliminar:hover{
    cursor: pointer;
}
