body{
  font-family: "Quantico";
  background-image: url(nubes.jpg);
}
img
{
position:absolute;
left:50px;
top:-35px;
z-index:1; 
}
h1 {
  text-align: center;
  font-size: 57px; 
}
section img{
  width: 250px;
}
section{
  border: 1px solid;
  width: fit-content;
}
nav {
  text-align: center;
}
nav a{
  text-decoration: none;
} 
.busqueda{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.buscar{
  padding: 6px;
  width: 300px;
  border-radius: 150px;
}
.btnBus{
  padding: 6px 12px;
  border-radius: 15px;
}
.filtro{
  margin-left: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;

}
.orden{
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}
.orden a:hover{
  background-color: rgb(198, 198, 198);
  transition: 0.5s;
}
.orden a{
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px;
  color: black;
}

table {
  margin: auto;
  background-color: rgb(255, 255, 255);
}
table caption {
  font-size: 30px;
  margin: auto 0;
}

table,th,tr,td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}
.bajoSto{
  color: red;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
p {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}
.noProd{
  text-align: center;
  color: red;
  padding: 10px;
}

.btnEdi{
  border-radius: 20px;
  border: 1px solid black;
}
.btnEdi a{
  text-decoration: none;
  color: rgb(67, 0, 71);
}

.btnEli{
  border-radius: 20px;
  border: 1px solid black;
}

.btnEli a{
  text-decoration: none;
  color: red;
  
}
.btnEdi:hover{
  background-color: rgb(151, 161, 252);
  transition: 0.5s;
}


.btnEli:hover{
  background-color: black;
  transition: 0.5s;
}