/*-------------- INDEX ----------------*/

button{
    border: 2px solid rgb(50, 50, 50);
}

table,
th,
tr,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
  text-align: center;
}

.navigation{
    margin-bottom: 20px;        
}

.navigation button:hover{
    box-shadow: 3px 3px rgb(0, 0, 0);
}
/* .navigation button:active{
    box-shadow: 3px 3px rgb(0, 0, 0);
} */

.input-search{
    width: 300px;
    border-radius: 5px;    
}
/*-------------- CREAR ----------------*/


/*-------------- EDITAR ----------------*/

/*-------------- ELIMINAR ----------------*/