<!DOCTYPE html>
{% load static %}

<html lang="es">

<head>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website!</title>
</head>

<body>
    <img class="logo" src="{% static 'img/logo.png' %}" alt="Logo de AyM Todo Escolar">
    <h1 class="title">AyM Todo Escolar</h1>
    <h3 class="subtitle">¡Bienvenido a AyM Todo Escolar! Aquí encontrarás todo lo que necesitas para tu vida escolar.</h3>
    <button class="loginbutton" onclick="window.location.href='/login/';">login</button>
</body>
</html>